.section-title{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 28px;
    font-weight: bold;
    color: #4a4a4a;
}
.post{
    display: flex;
    border: 1px solid rgba(0 , 0, 0, 0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.img-thumbnail{
    width: 200px;
    height: auto;
    margin-right: 1rem;
}

.img-thumbnail img{
    flex: 1;
}

.content-post .title-post{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #3d4a6c;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.content-post .title-post:hover{
    cursor: pointer;
}

.content-post .desc-post{
    margin: 0px;
    font-size: 12px;
    color: #4a4a4a;
    line-height: 16px;
}

.remove {
    padding: 0.8rem 1rem;
    background: #E93E63;
    color: #FFF;
    border-radius: 4px;
    outline: none;
    margin-top: 1rem;
}
.update {
    padding: 0.8rem 1rem;
    background: #8BC34A;
    color: #FFF;
    border-radius: 4px;
    outline: none;
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.remove:hover, .update:hover{
    cursor: pointer;
}

.form-add-post{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.form-add-post label{
    display: block;
    font-size: 14px;
    color: #607D88;
    font-weight: bold;
    margin-bottom: 10px; 
}
.form-add-post input,
.form-add-post textarea{
    outline: none;
    border: 1px solid #607D88;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607D88;
}
button.btn-submit{
    outline: none;
    border: 1px solid #2196F3;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    color: #2196F3;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}
button.btn-submit:hover{
    cursor: pointer;
    background: #2196F3;
    color: #FFF;
}