.btn{
    padding: 10px 36px;
    border: 1px solid #3F5185;
    border-radius: 4px;
    outline: none;
    background: #03A9F4;
    color: #FFF;
    font-size: 14px;
}

.btn:hover{
    cursor: pointer;
}